{# !!!! The Check your answers page pattern is currently being reviewed and is subject to change !!!! #}

{% extends "sg-prototype-templates/layouts/_base-layout.njk" %}

{% block pageTitle %}Check your answers{% endblock %}

{# Use an empty siteSearch block to hide the search from the header #}
{% block siteSearch %}{% endblock %}

{% block main %}
<div class="ds_wrapper">
    <a class="ds_back-link" href="#">Back to 'Name of service'</a>
    <main id="main-content" class="ds_layout  ds_layout--question">

        {% block mainHeader %}
        <div class="ds_layout__header">
            <header class="ds_page-header">
                <h1 class="ds_page-header__title">Check your answers before sending your application</h1>
            </header>
        </div>
        {% endblock %}

        {% block mainContent %}
        <div class="ds_layout__content">
            <div class="ds_tabs" data-module="ds-tabs">
    <nav class="ds_tabs__navigation" aria-labelledby="ds_tabs__title">
        <h2 id="ds_tabs__title" class="ds_tabs__title">Contents</h2>
        <ul class="ds_tabs__list" id="tablist">
            <li class="ds_tabs__tab">
                <a class="ds_tabs__tab-link" href="#tab1">Courses and funding</a>
            </li>
            <li class="ds_tabs__tab">
                <a class="ds_tabs__tab-link" href="#tab2">Choosing apprenticeships</a>
            </li>
            <li class="ds_tabs__tab">
                <a class="ds_tabs__tab-link" href="#tab3">Extra skills support</a>
            </li>
        </ul>
    </nav>
    <div class="ds_tabs__content  ds_tabs__content--bordered" id="tab1">
        <h2>Search for training courses and funding</h2>
        <p>A wide range of training courses for your employees are available.</p>
        <p>Opportunities include distance learning, short courses and vocational training.</p>
        <p><a href="#">Visit My World of Work to search for training courses</a>.</p>
        <p>You can also <a href="#">search for training courses, and funding towards training</a>.</p>
    </div>
    <div class="ds_tabs__content  ds_tabs__content--bordered" id="tab2">
        <h2>Choosing an apprenticeship for your business</h2>
        <p>Apprenticeships can help you address skills gaps in your business. The government provides help with the cost of training an apprentice.</p>
        <p>There are 3 different types of apprenticeship:</p>
        <ul>
            <li>Foundation Apprenticeships let school or college students do short-term work experience at your business as part of a qualification</li>
            <li>Modern Apprenticeships let your new or current employees gain a qualification while working in a paid role at your business</li>
            <li>Graduate Apprenticeships let your new or current employees gain a degree while working in a paid role at your business</li>
        </ul>
        <p>You can find more information on the <a href="#">apprenticeships.scot</a> website.</p>
    </div>
    <div class="ds_tabs__content  ds_tabs__content--bordered" id="tab3">
        <h2>Extra skills support</h2>
        <p>The <a href="#">Skills for Growth</a> service can offer skills advice to businesses with fewer than 250 employees.</p>
        <p>Businesses of any size can get skills advice by completing a <a href="#">skills support request form</a>.</p>
        <p>Businesses of any size can also get skills advice by calling Skills Development Scotland on 0800 783 6000.</p>
    </div>
            <!-- <h2>Personal details</h2>
                <ul class="ds_summary-list">
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal1-key">Name</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Jane Smith</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal1-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal2-key">Date of birth</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">19 March 1983</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal2-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal3-key">Customer reference</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Not provided</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal3-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal4-key">Address</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Victoria Quay<br>Edinburgh<br>EH6 6QQ</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal4-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal5-key">Contact details</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">
                                <ul class="ds_no-bullets">
                                    <li><q class="ds_summary-list__answer">07890 135468</q></li>
                                    <li><q class="ds_summary-list__answer">jane.smith@example.com</q></li>
                                </ul>
                            </q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal5-key">
                                Change
                            </button>
                        </div>
                    </li>
                </ul>
                <h2>Application details</h2>

                <ul class="ds_summary-list">
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-application1-key">Previous application number</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">12345678</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-application1-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-application2-key">Licence type</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">For personal use</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-application2-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-application3-key">Home address</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Victoria Quay<br>Edinburgh<br>EH6 6QQ</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-application3-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-application4-key">Licence period</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Valid for 6 months</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-application4-key">
                                Change
                            </button>
                        </div>
                    </li>
                </ul>
                <h2>Now send your application</h2>
                <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p> -->

                <form action="/confirmation" method="post" novalidate>
                    <div class="ds_button-group">
                        <a href="/path/of/prev/page" class="ds_button ds_button--secondary">Back</a>
                        <button class="ds_button" type="submit">Accept and send</button>
                    </div>
                </form>
            </div>
        {% endblock %}

    </main>
</div>
{% endblock %}