

{% extends "layouts/main.html" %}


{% block pageTitle %}Dashboard{% endblock %}



<!-- {# Use an empty siteBrandingTitle block to only show the logo for site branding #}
{% block siteBrandingTitle %}
{% endblock %} -->



{% block main %}
<main id="main-content">

    <div class="category-upper">


        <div class="ds_wrapper">
            <header class="ds_feature-header  ds_feature-header--wide">
                <div class="ds_feature-header__primary">
                    <h1 class="ds_feature-header__title">Welcome Kath</h1>
                    <p></p>
                </div>

            </header>
        </div>
    </div>

    <div class="category-lower  ds_pre-footer-background">
        <div class="ds_wrapper">

            <div class="ds_layout  ds_layout--category-list">
                <div class="ds_layout__grid">

                    <div class="ds_category-list-container">
                    <nav aria-label="Category navigation">
                        <ul class="ds_category-list ds_category-list--grid ds_category-list--narrow">
                            <li class="ds_card  ds_card--hover">
                                <div class="ds_card__content">
                                    <h2 class="ds_card__title">
                                        <a class="ds_card__link--cover" href="#">Search and Update</a>
                                    </h2>
                                    <p>You can search for and update records</p>
                                </div>
                            </li>
                            <li class="ds_card  ds_card--hover">
                                <div class="ds_card__content">
                                    <h2 class="ds_card__title">
                                        <a class="ds_card__link--cover" href="#">Applications</a>
                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </li>
                            <li class="ds_card  ds_card--hover">
                                <div class="ds_card__content">
                                    <h2 class="ds_card__title">
                                        <a class="ds_card__link--cover" href="#">OM ORI</a>
                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </li>
                            <li class="ds_card  ds_card--hover">
                                <div class="ds_card__content">
                                    <h2 class="ds_card__title">
                                        <a class="ds_card__link--cover" href="#">Ongoing Monitoring</a>
                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </li>
                            <li class="ds_card  ds_card--hover">
                                <div class="ds_card__content">
                                    <h2 class="ds_card__title">
                                        <a class="ds_card__link--cover" href="#">Consideration, Listing, Barring</a>
                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>
{% endblock %}